html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 99%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h5 {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* .col-lg-3 {
  flex-flow: row;
} */

.row {
  flex-flow: row wrap;
  justify-content: left;
  align-content: flex-start;
  min-width: 0;
  margin-top: 50px;
}

.product-image {
  height: auto;
  float: right;
}